.service-header{
    padding: 1rem;
    color: #f8f7f7;
    background: #8f9eff;
    border-radius: 0 0 2rem 2rem
}

.service-container h2{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}